<template>
  <div class="sudoku">
    <h1>Sudoku</h1>
    <p>
      <small>{{ url }}</small>
    </p>
    <div>
      <div class="grid" v-if="store.grid != null">
        <div class="row" v-for="(row, y) in store.grid" v-bind:key="y">
          <div
            class="cell"
            v-for="(cell, x) in row"
            @click="focusCell(x, y)"
            v-bind:key="x"
            v-bind:class="{
              focused: isFocused(x, y),
              readonly: cell && cell.readonly
            }"
          >
            <span v-if="cell && cell.v" class="value">
              {{ cell.v }}
            </span>
          </div>
        </div>
      </div>
    </div>
    <button @click="checkSolution">Check Solution</button>
  </div>
</template>

<script>
import { regions } from "../constants";
import { store } from "../store";

export default {
  name: "Sudoku",
  props: {
    url: String
  },
  mounted() {
    fetchGrid(this.url);
    window.addEventListener("keyup", handleKey);
  },
  unmounted() {
    window.removeEventListener("keyup", handleKey);
  },
  data: () => ({ store: store.state }),
  methods: {
    focusCell(x, y) {
      store.setFocused(x, y);
    },
    // TODO make isFocused not a linear-time check when multifocus is implemented.
    // this is hit from every cell, so the linear-time .some(...) check will become quadratic.
    isFocused: (x, y) =>
      store.state.focused.some(el => el.x === x && el.y === y),
    checkSolution() {
      if (isValidGrid(store.state.grid)) {
        alert("You got it!");
      } else {
        alert("That's not right!");
      }
    }
  }
};

async function fetchGrid(url) {
  const response = await fetch(url);
  const data = await response.json();

  const setReadonlyIfNonNull = el =>
    el == null ? el : { ...el, readonly: true };

  store.setGrid(data.cells.map(row => row.map(setReadonlyIfNonNull)));
}

function handleKey(ev) {
  switch (ev.key) {
    case "Backspace":
    case "Delete":
      store.clearValue();
      break;
    // TODO arrows
    default: {
      const keyAsNumber = parseInt(ev.key, 10);
      if (!Number.isNaN(keyAsNumber)) {
        store.setValue(keyAsNumber);
      }
    }
  }
}

function isValidGrid(grid) {
  const isCorrectForGrid = r => isValidRegion(r, grid);
  return (
    regions.rows.every(isCorrectForGrid) &&
    regions.columns.every(isCorrectForGrid) &&
    regions.boxes.every(isCorrectForGrid)
  );
}

function isValidRegion(region, grid) {
  const cells = region.map(([x, y]) => grid[y][x]);
  return cellsAreDistinctAndSumTo(
    45,
    cells.map(c => c && c.v).filter(c => c)
  );
}

function cellsAreDistinctAndSumTo(targetSum, cellValues) {
  const distinctValues = new Set(cellValues);
  return (
    cellValues.length === distinctValues.size &&
    cellValues.reduce((a, b) => a + b, 0) === targetSum
  );
}
</script>

<style scoped>
.grid {
  display: inline-block;
  border: 3px solid black;
}

.row {
  display: flex;
}

.row:nth-child(3n + 4) {
  border-top: 3px solid black;
}

.cell {
  display: block;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: #888;
}

.cell.readonly {
  color: black;
}

.cell.focused {
  background: yellow;
}

.cell:nth-child(3n + 4) {
  border-left: 3px solid black;
}
</style>
