<template>
  <Sudoku url="https://aaronhipple-interview.s3-us-west-2.amazonaws.com/puzzles/7NdfmMt8HL.json" />
</template>

<script>
import Sudoku from './components/Sudoku.vue'

export default {
  name: 'App',
  components: {
    Sudoku
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
